.categoriesBar {
  padding: 0.5rem 0;
  margin: 1.3rem 0.5rem;
  display: flex;
}

.span {
  margin-right: 1.2rem;
  padding: 0.5rem 0.9rem;
  white-space: nowrap;
  border: 1.5px solid #000;
  border-radius: 999px;
  text-transform: capitalize;
  font-size: 1.17rem;
  transition: all 0.2s;
}
.span:hover {
  background-color: #659de6;
  color: #fff;
  cursor: pointer;
}

.span.active {
  color: #fff;
  background-color: #568aec;
  border-color: #000;
}
