.infopage-main {
  display: flex;
  justify-content: space-between;
}

.detail-photo {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.map-book-visit {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .infopage-main {
    flex-direction: column;
  }

  .detail-photo {
    margin-bottom: 3rem;
    width: auto;
  }
  .map-book-visit {
    margin-top: 3rem;
  }
}
:root {
  --section-rotate: 9vw;
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}
